.el-col-12{
  width: 100%;
}
.el-menu-vertical-demo:not(.el-menu--collapse) {
  width: 200px;
  height: 100%;
}
.elmenuright {
  margin-left: -5px;
  overflow: hidden;
  width: 200px;
}
.elMenuRightClass {
  margin-left: 0;
}
._navindex {
  height: 100%;
  .el-menu--collapse {
    width: 39px;
    height: 100%;
    >li {
      margin: 4px 0;
      height: 39px;
      padding: 0 !important;
      >div {
        padding: 0 !important;
        text-align: center;
        height: 39px;
        line-height: 39px;
      }
    }
    >li:nth-child(1) {
      margin-top: 0;
    }
  }
  .elmenuleft{
    margin-left: 5px;
  }
  .elMenuLeftClass{
    margin-left: 0;
  }
  .iscolclass {
    overflow-x: auto;
    >li {
      >div {
        height: 39px;
        line-height: 39px;
        >li{
          height: 39px;
          line-height: 39px;
        }
      }
      >ul {
        >li {
          height: 39px;
          line-height: 39px;
        }
      }
    }
    >.el-menu-item {
      height: 39px;
      line-height: 39px;
    }
  }
}
.el-menu--vertical {
  >ul {
    padding: 0;
    >li {
      height: 39px;
      line-height: 39px;
    }
  }
}
